html {
    font-size: 14pt;
    background-image: url('../images/bg.png');
}

a {
    text-decoration: none;
    color: black;
}

th, td {
    width: 10rem;
}

table, th, td {
    border: 1px solid black;
}

.noBorder, .noBorder th, .noBorder td {
    border:none;
}

p.error {
    text-align: center;
    padding: 1rem;
    background-color: pink;
}

nav, .actions {
    display: flex;
}

nav > a, .actions > a {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    margin: 0 2em 0 2em;
    padding: 0.25em;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
}

nav > a:hover, .actions > a:hover {
    background-color: #fff200;
}

.info {
    text-align: center;
}

.infoStatus {
    color: #0400ff;
    text-align: center;
}

.meetings {
    display: flex;
}

.meetings > table {
    flex: 1;
    margin: 1em;
}

.button:hover {
    color: #0400ff;
}