{% extends '_base.html.twig' %}

{% block pageTitle %} 404 - Page Not Found {% endblock %}

{% block main %}
    <h1>Error - code 404</h1>
    <p class = "error">
        404 - sorry the requested resource could not be found
    </p>
{% endblock %}