<form action="/login" method="post">
    <table class="noBorder" align="center">
        <tr>
            <th>
                <label for="username"> Username: </label>
            </th>
            <td>
                <input type="text" name="username" id="username" required autofocus>
            </td>
        </tr>
        <tr>
            <th>
                <label for="password"> Password: </label>
            </th>
            <td>
                <input type="password" name="password" id="password" required>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="submit" value="Log In">
            </td>
        </tr>
    </table>
</form>