{% extends '_base.html.twig' %}

{% block pageTitle %} Add New User {% endblock %}

{% block nav %}
    {% embed "navBar.html.twig" %}
    {% endembed %}
{% endblock %}

{% block main %}
    <h1 class="info"> Add New User To The Database </h1>

    {% if message is defined %}
        <p class="error">{{ message }}</p>
    {% endif %}

    <form action="/addUser" method="post">
        <table class="noBorder" align="center">
            <tr>
                <th><label for="name">Name: </label></th>
                <td><input type="text" name="name" id="name" required autofocus></td>
            </tr>
            <tr>
                <th><label for="username">Username: </label></th>
                <td><input type="text" name="username" id="username" required></td>
            </tr>
            <tr>
                <th><label for="password">Password: </label></th>
                <td><input type="password" name="password" id="password" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" value="Add User"></td>
            </tr>
        </table>
    </form>

{% endblock %}
